/**
	home.jsp顶部导航栏样式
*/
#head {
	margin: 0 auto;
	text-align: center;
}

#menu {
    text-align: center;
    font: 15px verdana, arial, sans-serif;
}

#menu, #menu li {
    list-style:none;
    padding:0;
    margin:0;
}

#menu li { 
    float:left; 
}

#menu li a {
    display:block;
    height:45px;
    text-align:center;
    background:	#0066cc;
    color:#fff;
    text-decoration:none;
    border-right:1px solid #000;
    padding-top: 25px;
}
#menu li a:hover {
    background:#002a80;
    color:#fff;
    text-decoration:none;
    border-right:1px solid #000;
}
#menu li a.last {
   border-right:0;
}