body {
	margin: 0 auto;
	margin-top: auto;
	margin-left: auto;
	text-align: center;
	background: rgba(127, 228, 241, 0.28);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1em;
	color: #000040;
}

table {
	margin: 0 auto;
	margin-top: auto;
	margin-left: auto;
}

a {
	text-decoration: none;
}

ul {
	list-style-type: none;

}

li {
	padding: 0px;
	line-height: 60px;
	font-size: 20px;
}

ul li a {
	display: block;
	width: 100%;
	background: #ccc;
	background:#80ffff;
}

ul li a:hover {
	background:#146C9C;
	background: #ff8040;	/* 悬浮在目标上面显示的颜色 */
} 
